@model List<PlaceResult>

@{
    var city = ViewData["City"] as string;
}

<form id="city-form">
    <label for="city">Enter city or country:</label>
    <input type="text" id="city" name="city" required />
    <button type="submit">Submit</button>
</form>

<p id="result"></p>

<script>
    const form = document.getElementById('city-form');
    const result = document.getElementById('result');

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const city = document.getElementById("city").value;


    }

            async function fetchData(city) {
            try {
                const response = await fetch('api/placesapi/search?city=', city);
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);

                }
                const items = await response.json();
                displayItems();
            }
            catch (error) {
                console.error('Error fetching items:', error)
            }

        }

            function displayItems(items){
                const itemList = document.getElementById('result');
                for (let i = 0, i<= 4, i++) {
                    let itemData = items.getElementById('name');
                    const listItem = document.createElement('li');
                    listItem.textContent = `${itemData}`;
                    itemList.appendChild(listItem);
                }
            }
</script>
